
.container {
  text-align: center;
  padding-top: 20px;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.album-cover {
  width: 600px;
  height: auto;
  max-width: 100%;
}

.album-info {
    display: flex;
    align-items: start; /* Aligns the items to start of cross axis */
    gap: 20px; /* Space between the items */
}

.card {
  width: 600px;
  margin-bottom: 10px;
}

.rating-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating-label {
  margin-left: 5px;
}

.card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.review-form textarea {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  margin-bottom: 15px;
}

.review-form input[type="number"] {
  width: 100%;
  margin-bottom: 15px;
}

.review-form button {
  align-self: flex-end;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.login-form input {
  width: 100%;
  margin-bottom: 15px;
}

.heading {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.home-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}

.home-button:hover {
  background-color: #0056b3;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
  width: 100%;
  margin-bottom: 15px;
}

.registration-form button {
  align-self: flex-end;
}

.custom-btn {
  display: inline-block;   /* Make the element behave like a block element but keep it inline */
  font-weight: bold;
  padding: 30px 50px;
  border-radius: 10px;
  background-color: #0056b3;
  color: #fff;
  margin-bottom: 50px;  /* Add space below the button */
}






