<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Login</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
    </head>

    <body>
    <h2 class="login-title">Login</h2>
    <!-- Login form -->
    <form th:action="@{/login}" method="post" class="login-form">
        <div>
            <label>Username:</label>
            <input type="username" name="username" required="required" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" required="required" />
        </div>
        <div>
            <button type="submit" class="login-button">Login</button>
        </div>
    </form>

    <hr />

    <!-- Registration button -->
    <h2 class="register-title">Don't have an account?</h2>
    <a href="/register" class="btn btn-primary register-button">Register</a>

    <hr />

    <!-- Home button -->
    <h2 class="explore-title">Explore Albums as a Guest</h2>
    <a href="/albums" class="btn btn-primary explore-button">Home</a>
    </body>


</html>
